<head>
	<!-- HTML Meta Tags -->
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://sovereignengineering.io/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ site.preview_.title }}">
	<meta property="og:description" content="{{ site.preview_.description }}">
	<meta property="og:image" content="{{ site.preview_image | absolute_url }}">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="sovereignengineering.io">
	<meta property="twitter:url" content="https://sovereignengineering.io/">
	<meta name="twitter:title" content="{{ site.preview_title }}">
	<meta name="twitter:description" content="{{ site.preview_.description }}">
	<meta name="twitter:image" content="{{ site.preview_image | absolute_url }}">
</head>
